* {
  box-sizing: border-box;
}
.sidebar {
    width: 17%;
    background-color: #6610f2;
    height: auto;
    padding-top: 30px;
    position: fixed;
    overflow: auto;
    float: left;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-left: 70px;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color:#6610f2;
   
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #8743f5;
    border-radius: 10px;
    color: white;
  }



  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
     position: relative;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  
  article {
    width:auto;
    border: none;
    padding: 20px;
    margin-left: 470px;
    height: auto;
    border-radius: 25px;
    background-color: #dee5f0 ;
    float: left;
    display: inline;
    margin-top: 10px;
      }

      section::after {
        content: "";
        display: table;
        clear: both;
      }
      
@media (max-width: 700px) {
   article {
    width: 100%;
    height: auto;
    margin:25px;
    padding-left: 30px;    
    display: block;
  }
}

      hr {
      padding-left: 10px;
      }

      


      .inputContainer i {
        position:absolute;
        
        
     }
     .inputContainer {
        width: 100%;
        margin-bottom: 10px;
     }
     .icon {
        padding: 13px;
        color: rgb(49, 0, 128);
        width: 40px;
        text-align: right;
        cursor:pointer;
     }
     .Field {
        width: 230px;
        padding: 10px;
        text-align: left;
        font-size: 15px;
        border-radius: 20px;
        height:2%;
        border:none;
        background-color:#d3ddd3;
        overflow: auto;
     }

     @media (max-width: 700px) {
      .field {
        display: none;
     }
   }
   @media (max-width: 700px) {
    .icon {
      display: none;
   }
 }
 @media (max-width: 700px) {
  .inputContainer {
    display: none;
 }
}


     .flex-container {
      display: flex;
      background-color:white;
      width: 460px;
      margin-top: 30px;
      border-radius: 12px;
      height: 80px;
      font-size: 0.9em;
    }
    
    .flex-container > div {
      padding: 20px;
    }

    



    @media (max-width: 700px) {
      .flex-container {
        flex-direction: column;
        flex-direction: row;
        width: 200px;
        padding: 5px 20px 10px 40px;
     }
   }


   
   @media (max-width: 700px) {
    .container-fluid {
      direction: column;
   }
 }
 

       
@media (max-width: 1440px) {
  article {
   width: 100%;
   height: 100vh; 
 }
}